## INTRODUCTION TO SQL

SQL, or Structured Query Language, is a language to talk to databases. It allows you to select specific data and to build complex reports. Today, SQL is a universal language of data. It is used in practically all technologies that process data.

### QUERYING SINGLE TABLE

Fetch all columns from the country table:

SELECT *
FROM country;

Fetch id and name columns from the city table:

SELECT id, name
FROM city;

#### ALIASES

changing the field name 

COLUMNS

SELECT name AS city_name
FROM city;


TABLES


SELECT co.name, ci.name
FROM city AS ci
JOIN country AS co
  ON ci.country_id = co.id;

#### FILTERING THE OUTPUT

##### COMPARISON OPERATORS

Fetch names of cities that have a rating above 3:


SELECT name
FROM city
WHERE rating > 3;


Fetch names of cities that are neither Berlin nor Madrid:


SELECT name
FROM city
WHERE name != 'Berlin'
  AND name != 'Madrid';

#### TEXT OPERATORS

Fetch names of cities that start with a 'P' or end with an 's':


SELECT name
FROM city
WHERE name LIKE 'P%'
  OR name LIKE '%s';
  
  
Fetch names of cities that start with any letter followed by 'ublin' (like Dublin in Ireland or Lublin in Poland):


SELECT name
FROM city
WHERE name LIKE '_ublin';

### QUERYING MULTIPLE TABLES

##### INNER JOIN


JOIN (or explicitly INNER JOIN) returns rows that have matching values in both tables.

SELECT city.name, country.name
FROM city
[INNER] JOIN country
  ON city.country_id = country.id;

#### LEFT JOIN

LEFT JOIN returns all rows from the left table with corresponding rows from the right table. If there's no matching row, NULLs are returned as values from the second table.

SELECT city.name, country.name
FROM city
LEFT JOIN country
  ON city.country_id = country.id;

#### RIGHT JOIN

RIGHT JOIN returns all rows from the right table with corresponding rows from the left table. If there's no matching row, NULLs are returned as values from the left table.

SELECT city.name, country.name
FROM city
RIGHT JOIN country
  ON city.country_id = country.id;

##### FULL JOIN

FULL JOIN (or explicitly FULL OUTER JOIN) returns all rows from both tables – if there's no matching row in the second table, NULLs are returned.

SELECT city.name, country.name
FROM city
FULL [OUTER] JOIN country
  ON city.country_id = country.id;

##### CROSS JOIN

CROSS JOIN returns all possible combinations of rows from both tables. There are two syntaxes available.

SELECT city.name, country.name
FROM city
CROSS JOIN country;

SELECT city.name, country.name
FROM city, country;

##### NATURAL JOIN

NATURAL JOIN will join tables by all columns with the same name.

SELECT city.name, country.name
FROM city
NATURAL JOIN country;

### AGGREGATION AND GROUPING

GROUP BY groups together rows that have the same values in specified columns. It computes summaries (aggregates) for each unique combination of values.

##### AGGREGATE FUNCTIONS

- avg(expr) − average value for rows within the group
- count(expr) − count of values for rows within the group
- max(expr) − maximum value within the group
- min(expr) − minimum value within the group
- sum(expr) − sum of values within the group